@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$blue: #2196F3;
$border-color: #EEEEEE;
$lighest-gray: #ECECEC;
$light-gray: #F5F5F5;
$gray: #757575;
$dark-gray: #2F303A;
$darkest-gray: #212121;


html,
body {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: .03em;
    line-height: 31px;
    display: flex;
    cursor: pointer;

    &__text {
        color: black;

        &_blue {
            color: $blue;
        }

        &_white {
            color: white;
        }
    }
}

.header {
    width: 100%;

    &-container {
        display: flex;
        padding: 24px 215px;
        justify-content: space-between;
        align-items: center;
    }
}

.navbar {
    display: flex;

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 60px;
        padding: 0;
    }

    &__item {
        padding: 0 25px;

        &:hover {
            .navbar__link {
                color: $blue;
            }
        }

        &:focus {
            .navbar__link {
                color: $blue;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .02em;
    }
}

.contacts {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    &__item {
        padding: 0 25px;

        &:hover {
            .contacts__link {
                color: $blue;
            }
        }

        &:focus {
            .contacts__link {
                color: $blue;
            }
        }
    }

    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .02em;
        color: $gray;
    }
}

.order {
    background-color: $dark-gray;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        color: white;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }

    &__button {
        cursor: pointer;
        padding: 10px 32px;
        background-color: $blue;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
}

.section {
    padding: 94px 215px;
}

.priorities {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $darkest-gray;
    padding: 94px 215px 0 215px;
}

.priorities-articles {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &__item {
        margin-left: 30px;

        &:first-of-type {
            margin-left: 0;
        }

        &-header {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: .03em;
            text-transform: uppercase;
            margin: 0 0 10px 0;
        }

        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: $gray;
        }
    }
}

.second-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: .03em;
    margin: 0 0 50px 0;
    color: $darkest-gray;
}

.images-list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &__item {
        margin-left: 30px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.team-section {
    background-color: $light-gray;
}

.team {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &-card {
        margin-left: 30px;
        background-color: white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: .03em;


        &:first-of-type {
            margin-left: 0;
        }

        &__name {
            font-weight: 500;
            color: $darkest-gray;
            margin: 30px 0 10px 0;
        }

        &__profession {
            color: $gray;
        }

    }
}

.footer {
    background-color: $dark-gray;
    padding: 60px 215px;
    text-align: left;


    &__contacts {
        list-style: none;
        margin: 0;
        padding: 0;

        &-item {
            margin-bottom: 9px;
        }

        &-link {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: .03em;
            color: $gray;
            text-decoration: none;
            font-style: normal;
        }
    }
}

.location {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .03em;
    color: white;
    font-style: normal;
    padding: 20px 0 9px 0;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $lighest-gray;

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        justify-content: space-between;
    }

    &__item {
        width: 370px;
        margin-bottom: 30px;
        border: 1px solid $border-color;

        &-info {
            padding: 20px 24px;
        }

        &-header {
            margin: 0 0 4px 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 36px;
            letter-spacing: .06em;
            color: $darkest-gray;
        }

        &-text {
            font-size: 16px;
            line-height: 30px;
            letter-spacing: .03em;
            color: $gray;
            margin: 0;
        }
    }

    &__link {
        text-decoration: none;
    }
}

.filters {
    list-style: none;
    display: flex;
    margin-bottom: 50px;

    &__item {
        margin-left: 8px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    &__button {
        border-radius: 4px;
        background-color: $lighest-gray;
        padding: 6px 22px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: .03em;
        color: $darkest-gray;
        border: 0;
        cursor: pointer;

        &:hover {
            background-color: $blue;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            color: white;
        }

        &:focus {
            background-color: $blue;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            color: white;
        }

        &_active {
            background-color: $blue;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            color: white;
        }
    }
}